.add{
    font-size:larger;
    color: rgb(29, 17, 118);
    

}
.a{
    color: rgb(234, 22, 135);

}

.app{
    color: rgb(234, 22, 135);

}

.b{
    color: rgb(234, 22, 135);

}
.bo{
    background-color: indigo;
    border-color: rgb(11, 106, 189);
}
.c{
    color:aliceblue

}
.d{
    color:aliceblue
}
.e{
    color:aliceblue
}
.f{
    color:aliceblue
}
.g{
    color:aliceblue
}
